/* Default (light theme) */
body.light-theme {
    background-color: white;
    color: black;
}

/* Dark theme */
body.dark-theme {
    background-color: black;
    color: white;
}


/* Custom class for aligning the logout button */



/* Add more styles as needed for both themes */
